extends layout

block content
  h1=locals.title

  form(method='POST')

    //- Select drop down containing all books, user selects the book that 
    //- they want to make an instance out of
    div.form-group
      label(for='book') Book:
      select#book.form-control(name='book' required)
        option(value='') --Please select a book--
        for book in locals.book_list
          if locals.selected_book==book._id.toString()
            option(value=book._id, selected) #{book.title}
          else
            option(value=book._id) #{book.title}

    //- Input the publisher information, which would be just the company name or something
    div.form-group
      label(for='imprint') Imprint:
      input#imprint.form-control(type='text' placeholder='Publisher and date information' name='imprint' required value=(undefined===locals.bookinstance ? '' : locals.bookinstance.imprint))
    //- Input the date when the book is due back
    div.form-group
      label(for='due_back') Date when book available:
      input#due_back.form-control(type='date' name='due_back' value=(undefined===locals.bookinstance ? '' : locals.bookinstance.due_back_yyyy_mm_dd))
    //- Select drop down for selecting the status of the book
    div.form-group
      label(for='status') Status:
      select#status.form-control(name='status' required)
        option(value='') --Please select a status--
        each val in ['Maintenance', 'Available', 'Loaned', 'Reserved']
          if undefined===locals.bookinstance || locals.bookinstance.status!=val
            option(value=val)= val
          else
            option(value=val selected)= val

    button.btn.btn-primary(type='submit') Submit

  if locals.errors
    ul
      for error in locals.errors
        li!= error.msg
