extends layout

block content
  h1= locals.title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{locals.book_count}
    li #[strong Copies:] !{locals.book_instance_count}
    li #[strong Copies available:] !{locals.book_instance_available_count}
    li #[strong Authors:] !{locals.author_count}
    li #[strong Genres:] !{locals.genre_count}
