extends layout 
block content 
  h1 Author:  #{locals.author.name}
  if locals.author.formatted_lifespan
    p #{locals.author.formatted_lifespan}

  div(style="margin-left:20px;margin-top:20px")
    h4 Books
    if locals.author_books.length 
      dl
        each book in locals.author_books 
          dt 
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else 
      p This author has no books.
  hr
  p
    a(href=author.url+'/delete') Go To Delete author